.boxWrapper{
    box-sizing: border-box;
    padding: 2px;
}

.boxTitle{
    background: #CFD8DC;
    padding: 2px 0 0 10px;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    /* letter-spacing: 0.5px; */
}

.boxContent{
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
}